@model Domain.Dtos.AddParisheDto

<form method="post" action="AddParishe">
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" class="form-control" asp-for="Name">
  </div>

    <div class="form-group">
    <label for="exampleInputEmail1">Product Code</label>
    <input type="text" class="form-control" asp-for="ProductCode">
  </div>

    <div class="form-group">
    <label for="exampleInputEmail1">Quantity</label>
    <input type="number" class="form-control" asp-for="Quantity">
  </div>

    <div class="form-group">
    <label for="exampleInputEmail1">Price</label>
    <input type="number" class="form-control" asp-for="Price">
  </div>

    <div class="form-group">
    <label for="exampleInputEmail1">Provider</label>
    <input type="text" class="form-control" asp-for="Provider">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>